# ===========================
# Operating System Files
# ===========================

.DS_Store
Thumbs.db
Desktop.ini

# ===========================
# Visual Studio Code
# ===========================

.vscode/


# ===========================
# Python
# ===========================

__pycache__/
*.pyc

# ===========================
# Logs
# ===========================

*.log

# ===========================
# Temporary Files
# ===========================

*.tmp
*.temp

# ===========================
# Backup Files
# ===========================

*.bak
*.old

# ===========================
# Packet Tracer Autosave
# ===========================

*.autosave.pkt